h1{ font-size:20px;

    color: pink;}
    h2{ font: size 20px;
    color:cyan}

 p{ color: aqua}
 ul{ list-style-type: decimal; 
color:cornflowerblue}
table{background-color: ivory;
font: size 30px;
text-align: center;}
